:root {
  --black-color: #1d1d1d;
  --white-color: #fff;
  --gray-color: #ccc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--black-color);
  color: var(--white-color);
}

canvas#root {
  width: 100vw;
  height: 100vh;
  background: rgba(90, 248, 253, 0.3843137255);
}
