:root {
  --canvas-w: 450px;
  --canvas-h: 450px;
  --black-color: #1d1d1d;
  --white-color: #fff;
  --gray-color: #ccc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--black-color);
  color: var(--white-color);
}

canvas#root {
  border: 1px solid #000;
  border-radius: 25px;
  width: var(--canvas-w);
  height: var(--canvas-h);
  background: var(--gray-color);
}
