:root {
  --black-color: #1d1d1d;
  --white-color: #fff;
  --gray-color: #ccc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--black-color);
  color: var(--white-color);
}

@import "./components/canvas.scss";